nav ul li, a {
    display: inline-block;
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.1em;
}

nav {
    border: 3px solid;
    text-align: center;

}

body {
    background-color: #EBE1E4;
}

footer {
    background-color: #BAB4BF;
    height: 170px;
    position:fixed;
    left:0px;
    right: 0px;
    bottom:0px;
}

#inicio {
    text-decoration: underline #2E534B 2px;
    
}
